body{
    background-color: #8ac397;
}
.container{
    width: 60%;
    margin-top: 5%;
    
}

#country{
    width: 11vb;
    height: 5vh;
    border-radius: 7px;
    font-size: large;
}

.op{
    margin-top: 4vh;
    font-size:large;
    font-family:'Courier New', Courier, monospace;
}